body {
  box-sizing: border-box;
  margin: 0px auto;
}

main {
  display: flex;
  background-color: darkslategray;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}

nav {
  align-items: center;
  background-color: #202c33;
  color: #aebac1;
  display: flex;
  font-size: 24px;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
}

.link:hover {
  cursor: pointer;
}

nav ul:first-child {
  margin-top: 10px;
}

ul {
  padding: 0;
}

.nav-item {
  display: flex;
  padding: 12px;
  margin: 0 auto;
  width: 24px;
  height: 24px;
}

.nav-item hr{
  margin-top: 0;
  padding: 0;
  height: 0;
  width: 24px;
}

.nav-item-active {
  background-color: #374248;
  border-radius: 100%;
}

.nav-item img {
  width: 20px;
}

.separador{
  height: 0 !important;
}

.user-profile-img {
  border-radius: 100%;
  height: 24px;
  width: 24px;
}

/* Estilo del contenedor de la lista de chats */

.chats{
  background-color: #111b21;
  border-left: 1px #3c3e3f outset;
  border-right: 1px #3c3e3f outset;
  color: white;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  max-width: 400px;
  height: 100vh;
  overflow-y: auto;
  max-width: 40%;
}

.chats ul{
  display: flex;
  flex-direction: column;
}

.chats header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 12px 28px;
}

.chats-title {
  font-size: 22px;
  font-weight: bold;
}

.chats-search {
  display: flex;
  margin: 10px;
}

.chats-search i {
  color: #8696a0;
  margin: auto 12px;
  font-size: 24px;
}


.chats-search input {
  background-color: #202c33;
  border-radius: 0 6px 6px 0;
  border-style: none;
  color: #8696a0;
  padding: 8px 20px;
  width: 100%;
}

.chats-search input:focus {
  outline: none;
}

.chats-search-icon {
  background-color: #202c33;
  border-radius: 6px 0 0 6px;
  color: #8696a0;
}

.chats-search-icon i{
  font-size: 16px !important;
}

.chats-options i {
  font-size: 24px;
  margin: auto 18px 0;
}

.chats-item {
  align-items: center;
  display: flex;

}

.chats-item-img {
  border-radius: 100%;
  margin: 8px;
  max-width: 50px;
  max-height: 50px;
}

.chats-item-preview-container {
  border-bottom: 1px #5f5f5f solid;
  display: flex;
  justify-content: space-between;
  padding: 15px 8px;
}

.chats-item-preview{
  display: flex;
  flex-direction: column;
  max-width: 375px;
}

.chats-item-preview-title {
  font-size: 18px;
  margin: 0;
  font-weight: 400;
  max-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chats-item-preview-subtitle {
  color: #8696a0;
  font-size: 16px;
  font-stretch: condensed;
  max-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chats-item:hover {
  background-color: #2a3942;
}

.chats-item-option{
  align-items: center;
  color: #8696a0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chats-item-option .chats-item-option-icon{
  position: relative;
  right: -30px;
  transition: .1s ease;
}

.chats-item-option:hover .chats-item-option-icon{
  right: 0;
}

.chats-item-option-date{
  font-size: 12px;
}

/* Estilo del contenedor de chat */

.chat{
  background-color: #111b21;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-header{
  align-items: center;
  background-color: #202c33;
  color: white;
  display: flex;
  padding: 6px;
  justify-content: space-between;
  padding: 10px;
}

.chat-header-profile-img{
  border-radius: 100px;
  max-height: 40px;
  max-width: 40px;
  margin-right: 10px;
}

.chat-header-info{
  display: flex;
}

.chat-header-info-name{
  display: grid;
}

.chat-header-info-subtitle{
  color: #aebac1;
  font-size: 14px;
  font-weight: 300;
}

.chat-header-options{
  display: flex;
}

.chat-header-options i{
  align-items: center;
  display: flex;
  font-size: 20px;
  padding: 16px;
}

.chat-header-options-videocall{
  display: flex;
  padding-right: 0;
  opacity: .5;
}

.chat-messages{
  flex-grow: 1;
  overflow-y: auto;
}


.chat-input{
  background-color: #202c33;
  color: #8696a0;
  display: flex;
  font-size: 20px;
  justify-content: space-around;
  padding: 20px;
}

.chat-input i{
  padding-left: 10px;
  padding-right: 10px;
}

.chat-input i:first-child{
  padding-left: 0;
}
.chat-input input{
  background-color: #2a3942;
  border-radius: 6px;
  border-style: none;
  color: white;
  padding: 0 20px;
  width: 80%;
}

.chat-input input:focus{
  outline: none;
}

.chat-input input::placeholder{
  color: #8696a0;
  outline: none;
}

.chat-messages{
  display: flex;
  flex-direction: column;
  padding: 2px;
  max-height: 500px;
  overflow-y: auto;
  scroll-margin-bottom: 200px;
}

.chat-message-received, .chat-message-sent{
  background-color: #202c33;
  border-radius: 15px;
  color: white;
  font-size: 14px;
  margin: 2px 0.5rem;
  max-width: 50%;
  padding: 1rem;
  width: fit-content;
}

.chat-message-sent{
  align-self: flex-end;
  background-color: #005c4b;
  position: relative;
}

.chat-message-sent-date{
  bottom: 0;
  color: #aebac1;
  font-size: 12px;
  padding-right: 10px;
  position: absolute;
  right: 0;
}
.chat-message-sent-date i{
  color: #4db6e1;
  font-size: 15px;
  opacity: 1;
}

/* BACKGROUND */
/* .chat-messages-container{
  flex-direction: column;
  height: inherit;
  z-index: 2;
}

.chat-messages-bg{background: url('https://static.whatsapp.net/rsrc.php/v3/yl/r/gi_DckOUM5a.png');
  height: inherit;
  max-height: 100%;
  opacity: 0.05;
  position: absolute;
  width: -moz-available;
}

.chat-messages-bg-img{
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
} */


/* tooltip */
.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  visibility: hidden;
  background-color: rgb(253, 253, 253);
  color: #000000;
  text-align: center;
  padding: 10px 20px;
  margin-left: 20px;
  margin-top: 4px;
  border-radius: 16px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: 0;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  -webkit-animation: scale-up-left .3s cubic-bezier(.39, .575, .565, 1.000) both;
  animation: scale-up-left .3s cubic-bezier(.39, .575, .565, 1.000) both;
}

/* Tootip animation*/

@-webkit-keyframes scale-up-left {
  0% {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
  }
}

@keyframes scale-up-left {
  0% {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%
  }
}